.mainHeader {
    padding: 24px 0;
    border-bottom: 1px solid grey;
    margin-bottom: 0 0 30px;
}

.mainNav {
    margin: 0;
}

.mainNavList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.mainNavLi {
    margin: 0 10px;
}

.mainNavLinkActive {
    color: red;
    text-decoration: none;
}

.mainNavLink {
    text-decoration: none;
}
